{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST" xmlns="http://www.w3.org/1999/html">
  <h3 align="center">Sign Up</h3>

    <div class="form-group">
    <label for="name">Name</label>
    <input
      type="name"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter Name"
    />

  </div>
    <div class="form-group">
    <label for="nric">NRIC</label>
    <input
      type="nric"
      class="form-control"
      id="nric"
      name="nric"
      placeholder="Enter NRIC"
    />

    <div>
      <label for="dpt">Department</label>
    <select
            type="dpt"
            class="form-control"
            id="dpt"
            name="dpt">
          <option value="" disabled selected>Select Department</option>
        {% for department in departments %}
          <option value="{{ department.id }}">{{ department.name }}</option>
        {% endfor %}
    </select>
    </div>


    <div class="form-group">
    <label for="role">Role</label>
    <input
      type="role"
      class="form-control"
      id="role"
      name="role"
      placeholder="Enter Your Role"
    />

  </div>
    <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter Email"
    />
  </div>

    <div class="form-group">
    <label for="phone">Phone Number</label>
    <input
      type="tel"
      class="form-control"
      id="phone"
      name="phone"
      placeholder="Enter Phone Number"
    />
  </div>

  <div class="form-group">
    <label for="address">Address</label>
    <textarea
      type="address"
      class="form-control"
      id="address"
      name="address"
      placeholder="Enter Address"></textarea>
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Enter Username"
    />
  </div>

  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="{{ url_for('auth.login') }}" class="login">Login</a>
</form>
{% endblock %}